<h1>Stupid coaching available</h1>
<form action="/answer" method="get" data-turbo="false" class="form-inline">
  <div class="d-flex flex-row">
    <input type="text" name="question" class="form-control">
    <button type="submit" class="btn btn-primary">Ask!</button>
  </div>
</form>
